/* Estilos para el componente App */
/* Autor: Camilo Martinez */
/* Fecha: 21/03/2026 */

.app-container {
  min-height: 100vh;
  background-color: transparent;
}

.navbar-brand {
  font-weight: 700;
  font-size: 1.5rem;
}
